.math-reference {
    margin-left: 1vh;
}

.reference-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;
}

.reference-form input {
    flex: 3;
}

.reference-form button {
    background-color: #6495ED;
    color: white;
    flex: 1;
}

.reference-content h3{
    color: #6495ED;
    border-bottom: 2px solid #6495ED;
}

.element-info {
    display: flex;
    background-color: aliceblue;
}

.element-box {
    margin: 2vh;
    background-color: #6495ED;
    color: white;
}
